html {
    line-height: 1.15;
}

body {
    margin: 0;
    background-image: url("../imgs/bg-img.jpg");
}

h1 {
    font-size: 3em;

}

header {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: end;
    font-family: 'bubblegum-sans', 'Times New Roman', Times, serif;
}

.flex-container {
    display: flex;
    /* flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 1em; */
}

.search {
    color: white;
    position: fixed; top: 5; left: 0;
    padding: 1em;
    text-align: left;
    font-family: 'bubblegum-sans', 'Times New Roman', Times, serif;
}

.weather-report {
    color: white;
    position: fixed; top: 1; right: 0;
    padding: 1em;
    text-align: center;
    font-family: 'bubblegum-sans', 'Times New Roman', Times, serif;
}