html {
    line-height: 1.15;
}

body {
    margin: 0;
    background-image: url("../imgs/bg-img.jpg");
}

h1 {
    font-size: 3em;

}

header {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: end;
    font-family: 'bubblegum-sans', 'Times New Roman', Times, serif;
}

.flex-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    /* flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 1em; */
}

.search {
    color: black;
    background: white, opacity 0.2;

    /* position: fixed; top: 5; left: 0; */
    display: inline-block;
    width: 25%;
    height: 100%;
    /* padding: 1em; */
    text-align: left;
    font-family: 'bubblegum-sans', 'Times New Roman', Times, serif;
}

.weather-report {
    color: white;
    /* position: fixed; top: 1; right: 0; */
    display: inline-block;
    width: 75%;
    /* padding: 1em; */
    text-align: center;
    font-family: 'bubblegum-sans', 'Times New Roman', Times, serif;
}

.fiveday {
    color: white;
    /* position: fixed; top: 1; right: 0; */
    width: 100%;
    position: fixed;
    bottom: 20%;
    /* padding: 1em; */
    text-align: center;
    font-family: 'bubblegum-sans', 'Times New Roman', Times, serif;
}