html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Ensures the body takes the full viewport height */
}

body {
    display: flex;
    flex-direction: column;
    background-image: url("../imgs/bg-img.jpg");
}

header {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: end;
    font-family: 'bubblegum-sans', 'Times New Roman', Times, serif;
}

.flex-container {
    display: flex;
    width: 100%;
    flex-grow: 1; /* Allows the flex container to grow and fill the remaining space */
    height: auto; /* No fixed height; allow content to determine height */
}

.search {
    color: white;
    background: rgba(255, 255, 255, 0.4);
    display: inline-block;
    width: 20%; /* Fixed width for the search box */
    text-align: center;
    font-family: 'bubblegum-sans', 'Times New Roman', Times, serif;
}

.reportBox {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically centers content */
    align-items: center; /* Horizontally centers content */
    text-align: center;
    flex-grow: 1; /* Allows it to take up the remaining space */
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    font-family: 'bubblegum-sans', 'Times New Roman', Times, serif;
}

footer {
    background-color: #333;
    color: white;
    padding: 2em;
    text-align: center;
    font-family: 'bubblegum-sans', 'Times New Roman', Times, serif;
}
